.itemCart{
    display: flex;
    border-bottom: 2px solid rgb(254, 254, 254);
    
    max-width: 500px;
    margin: 1rem auto;
    color: white;
    
}

.bajar{
    margin-bottom: 25px;
}

.itemCart img{
    width: 400px;
    height: 120px;
    margin-right: 1rem;

}

.itemCart p{
    font-family: estedad;
}