button {
    width: 100px;
    height: 50px;
    font-size: 16px;
    font-family:  estedad;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 23px;

  }
  
  button:hover {
    background-color: #631938;
    color: white;
  }

 .contador{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family:  estedad;
    font-weight: bold;
    color: rgb(255, 255, 255);
 }

 .centradobutton{
    display: flex;
    align-items: center;
    justify-content: center;
 }